/*!
 *Css Desarrollado por David Beltran 
*/

.no-margin{
    margin: 0;
}

.space-10{
    padding: 10px;
}

.space-6{
    padding: 6px;
}

.space-13{
    padding: 13px;
}

.space-30{
    padding: 30px;
}

.vertical-line {
    border-left: solid #000;
}